*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#screen{
    width: 100%;
    height: 1500px;
    /* border: 2px solid black; */
    background-color: rgb(233,236,238);
    position: absolute;
}

.navbar{
    width: 100%;
    height: 80px;
    /* border: 2px solid red; */
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* box-shadow: 0px 2px 10px rgb(0,0,0,0.5); */
    position: fixed;
    z-index: 1;
    top: 0;
}

.navbar div{
    /* border: 1px solid yellow; */
}


.swiggy-logo-s{
    margin-left: 4%;
    width: 400px;
    height: 80%;
    display: flex;
    justify-content: space-around;
    /* border:1px solid red; */
    
}

.checkout-section{
    margin: auto;
    margin-left: 3%;
}

.checkout-section p{
    text-transform: uppercase;
    margin-top: 10%;
    font-size: 0.8em;
    font-weight: 700;
}

.swiggy-logo-s img{
    margin-top: 2%;
    width: 60px;
    height: 60px;
}

.swiggy-logo-s img:hover{
    scale:1.1;
    transition: 0.4s;
}

.tabs{
    display: flex;
    
}

.tabs div{
    display: flex;
    width: 130px;
    margin: auto;
}

.tabs div:nth-child(1) i{
    rotate: 45deg;
}

.tabs div i{
    margin-right: 10px;
}

.tabs div i,p{
    font-size: 1.1em;
    color: rgb(61,65,82);
}

.main{
    width: 90%;
    height: 1000px;
    margin: auto;
    margin-top: 7%;
    border: 1px solid red;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
}

.loc-icon{
    width: 3%;
    height: 100%;
    border: 1px solid blue;
}

.address{
    width: 63%;
    height: 100%;
    /* border: 1px solid lightgrey; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-top{
    width: 100%;
    height: 77%;
    border: 1px solid lightgrey;
    background-color: white;
}

.add-desc{
    margin-top: 5%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}

.add-desc h3{
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(40,44,63);
}

.add-desc p{
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(126,128,140);
}

.add-desc h4{
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(40,44,63);
}

.add-toast{
    width: 95%;
    height: 550px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.toast{
    width: 48%;
    height: 250px;
    border: 1px solid lightgrey;
    display: flex;
}

.toast:hover{
    box-shadow: 0 5px 10px rgb(0,0,0,0.25);
}

.dotted-toast{
    width: 48%;
    height: 250px;
    border: 1px solid lightgrey;
    border-style: dashed;
    display: flex;
}

.dotted-toast:hover{
    box-shadow: 0 5px 10px rgb(0,0,0,0.25);
}

.toast-main{
    width: 95%;
    height: 225px;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    display: flex;
}

.toast-main div{
    margin-top: 5%;
    margin-left: 2%;
}

.toast-icon{
    color: rgb(96,178,70);
}

.toast-desc{
    /* border: 1px solid blue; */
}

.toast-desc h3{
    font-size: 1em;
    color: rgb(40,44,63);
    font-weight: 700;
}

.toast-desc p{
    font-size: 0.8em;
    color: rgb(147,149,159);
    padding-right: 10px;
    margin-bottom: 10%;
    /* border: 1px solid yellow; */
}

.toast-desc span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    color: rgb(40,44,63);
}

.toast-desc button{
    width: 160px;
    height: 40px;
    background-color: rgb(96,178,70);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
}


.toast-remove h3{
    font-size: 1em;
    color: rgb(40,44,63);
    font-weight: 700;
}

.toast-remove p{
    font-size: 0.8em;
    color: rgb(147,149,159);
    padding-right: 10px;
    margin-bottom: 10%;
    /* border: 1px solid yellow; */
}

.toast-remove span{
    display: none;
}

.toast-remove button{
    width: 160px;
    height: 40px;
    background-color: white;
    color: rgb(96,178,70);
    text-transform: uppercase;
    font-weight: bold;
    border-color: rgb(96,178,70);
    outline: none;
    border-radius: 2px;
}

.pay-bot{
    width: 100%;
    height: 20%;
    border: 1px solid lightgrey;
    background-color: white;
}

.pay-button{
    width: 90%;
    height: 100px;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
}

.pay-button div{
    margin: auto;
}

.p-but button{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: none;
}

.p-but button:hover{
    box-shadow: 0 5px 10px rgb(0,0,0,0,2);
    scale: 1.5;
    transition: 0.5s;
}

.p-but button img{
    width: 100%;
    height: 100%;
}



.order-list{
    width: 30%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-top{
    width: 100%;
    height: 73%;
    border: 1px solid black;
    background-color: white;
}

.order-bot{
    width: 100%;
    height: 24%;
    border: 1px solid red;
    background-color: white;
    padding-top: 5%;
}

.inner-border{
    width: 85%;
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: auto;   
}

.inner-border div{
    width: 90%;
    margin-top: 2%;
    margin-left: 2%;
    /* margin-right: auto; */
}

.inner-border div h4{
    font-size: 0.95em;
    color: rgb(62,65,82);
}

.inner-border div p{
    font-size: 0.7em;
    margin-top: 5%;
    margin-bottom: 5%;
}

.inner-border div span{
    font-size: 0.8em;
    color: rgb(128,128,128);

}

.inner-border div button{
    margin-top: 5%;
    color: rgb(236,97,72);
    background-color: white;
    border-bottom: 1px solid rgb(236,97,72);
    border-style: dashed;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 0.8em;
    font-weight: bold;
}